<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @movie.title %></em></h2>

<ul id="details">
  <li>
    Rating:
    <%= @movie.rating %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @movie.name %>
</p>