<section id = "features top-margn">

  <div class = "container-fluid" style = "margin-top:1%;">
    <div class = "pad-action" style = "margin-top: 10px;margin-left:5.1%;">
      <h1><b>Benefits</b></h1>
    </div>
    <div class = "row pad-action">

      <div class="feature-box col-lg-4 col-md-12 text-center">
        <div class = "circle">
          <i class="fas fa-dollar-sign fa-5x resize-icon"></i>
        </div>
        <div class = "pad-feat">
          <h2>Save</h2>
          <p style = "font-family: 'Montserrat', sans-serif;font-weight: lighter;">Save money by learning the best prices.</p>
        </div>
      </div>

      <div class="feature-box col-lg-4 col-md-12 text-center">
        <div class = "circle">
          <i class="fas fa-user fa-5x resize-icon"></i>
        </div>
        <div class = "pad-feat">
          <h2>Social</h2>
          <p style = "font-family: 'Montserrat', sans-serif;font-weight: lighter;">Stay updated with great deals around you.</p>
        </div>
      </div>

      <div class="feature-box col-lg-4 col-md-12 text-center">
        <div class = "circle">
          <i class="fas fa-search-dollar fa-5x resize-icon"></i>
        </div>
        <div class = "pad-feat">
          <h2>Search</h2>
          <p style = "font-family: 'Montserrat', sans-serif;font-weight: lighter;">Save time every week via sVipd alerts.</p>
        </div>
      </div>
    </div>
  </div>
</section>