<section id = "join">
  <div class = "container-fluid" style = "margin-top:1%;">
    <div class = "pad-action" style = "margin-top:10px;margin-left:5.1%;">
      <h1><b>Join</b></h1>
    </div>
  </div>
</section>

<section id = "true_app">
  <div class = "container-fluid">
    <div class = "row pad-action pad-left-more">

      <div class = "col-12">
        <h1 class="extra-large">
          Join the revolution of a true social application  for the people.</h1>

        <center style = "padding-top:100px;">

          <button type="button" class="btn yellow_col btn-lg download-button-end" style = "padding: 20px; width: 300px;"><i class="fab fa-wpexplorer fa-2x"></i><br /> Learn More</button>
        </center>

      </div>
    </div>
  </div>
</section>