<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<%= render "common/header_merchant" %>

<div class = "container-fluid">
  <div class = "row">
    <div class = "pad-action pad-left">
      <h3><b><%= @company.name %></b></h3>
    </div>
  </div>
  <div class = "row">
    <div class = "pad-action pad-left">
      <h3><b>Start Browsing your Stories and Products!</b></h3>
    </div>
  </div>
</div>