<section id = "Search">
  <div class = "container-fluid" style = "margin-top:1%;">
    <div class = "pad-action" style = "margin-top:10px;margin-left:5.1%;">
      <h1><b></b></h1>
    </div>
      <div class = "row pad-action pad-left-more" style = "margin-left: 160px;">
        <div class = "col-10" style = "padding-right:6%;">
          <div class="input-group">
            <!--<input type="text" placeholder="Search for a product, or enter product barcode" style = "" class="form-control">-->
            <%= text_field :search, :search, :placeholder => 'Search for a Product', :class => 'form-control', :style => 'height:72px; font-size:28px;font-weight:100;border-top-left-radius: 20px;border-bottom-left-radius: 20px;box-shadow:none;outline:none;border: 1px solid #c4c4c4; border-right: 0px solid; background-color: #fff;' %>

            <span class="input-group-text" style = "border-top-right-radius: 20px; border-bottom-right-radius: 20px; background-color:#fff; border-left:0px solid;">
            <%= button_tag(type: "submit", class: "", style: "border-width: 0px; background-color: transparent; padding: 0px;") do %>
              <i class="fas fa-search-location fa-3x" style = "color:#000; margin:5px"></i>
            <% end %>
          </span>
          </div>
        </div>
      </div>
  </div>
</section>