<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @product.name %></em></h2>

<ul id="details">
  <li>
    About <%= @product.name %>:
    <%= product.description %>
  </li>
</ul>

  <%= @product.name %>
</p>
