<section id ="footr" >
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">sVipd<sup>&copy;</sup> 2021</small>
        </div>

        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Learn</a></li>
            <li><a class="link-secondary" href="#">Social</a></li>
            <li><a class="link-secondary" href="#">Search</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Issues</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Trending</a></li>
            <li><a class="link-secondary" href="#">Reward</a></li>
            <li><a class="link-secondary" href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Terms</a></li>
            <li><a class="link-secondary" href="#">Locations</a></li>
            <li><a class="link-secondary" href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </section>